html {
    display: flex;
    justify-content: center;
}

body {
    width: 70vw;
}

.input {
    padding: 10px;
    border-radius: 5px;
}

.add {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(43, 246, 43);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.tabs {
    position: relative;
}

.shadow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(77, 89, 251, 0.8);
    z-index: -1;
    transition: all .6s;

    /* border-top-right-radius: 10px; */
}

#tabs {
    display: flex;
}

#tabs li {
    padding: 10px 20px;
    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */
    border-left: 1px solid black;
    border-top-right-radius: 10px;
    transition: all .6s;
}

#tabs li:last-child {
    border-right: 1px solid black;
}

.todos {
    border: 1px solid blue;

}

.todo {
    position: relative;
    transition: transform 0.2s ease;
}

.todo.dragging {
    transform: translateY(-10px);
    transform: translateX(-20px);
    opacity: 0.7;
}

.debug {
    margin-top: 10px;
    border: 1px solid red;
}

.debug h3 {
    margin-left: 10px;
}

.debug div {
    margin: 10px;
}